﻿#menu{ /* nothing in here right now */
}

#menu .Item
{ 
  /* CSS class for non-selected Menu Item */
  background: url(~/Stylesheets/1.jpg) no-repeat; 
}

#menu .ItemSelected, #menu .ItemHover
{ 
  /* CSS class for hovering and selected Menu Item
     ... which can be split up, of course! */
  background: url(~/Stylesheets/1.JPEG) no-repeat; 
}

/* CSS classes for standard Links, only valid inside the #menu DIV */
#menu a, #menu a:visited
{
  background: transparent ! important;
  display: block;
}

#menu a:hover, #menu a:active, #menu a:focus
{
  background: transparent ! important;
  display: block;
}
 