﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Main.master" AutoEventWireup="true" CodeFile="frmTotalAbsent.aspx.cs" Inherits="frmTotalAbsent" %>

<asp:Content ID="Content1" ContentPlaceHolderID="MainContent" Runat="Server">

    <table style="width: 100%">
        <tr>
            <td colspan="4" style="text-align:center">
                <h4>Total Absent</h4>
            </td>
        </tr>
        <tr>
            <td>
                <dx:ASPxButton ID="ASPxButton1" runat="server" EnableTheming="True" OnClick="ASPxButton1_Click" Text="Back" Theme="SoftOrange">
                    <Image IconID="actions_resetchanges_16x16devav">
                    </Image>
                </dx:ASPxButton>
            </td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
        </tr>
    </table>

</asp:Content>

